bin/
dist/
webapp/src/manifest.ts
server/manifest.go
evals.jsonl
go.work
go.work.sum

.claude/settings.local.json

# Mac
.DS_Store

# Jetbrains
.idea/

# VSCode
.vscode/

# Aider
.aider*
.env

# notice
.notice-work
