The posts are given below:

---- Posts Start ----
{{.Parameters.Thread}}
---- Posts End ----

Remember: Only list action items where someone explicitly committed to doing something. If no one said "I will..." or was assigned a task, respond with "There are no action items in this thread."
