Příspěvky jsou uvedeny níže:

---- Začátek příspěvků ----
{{.Parameters.Thread}}
---- Konec příspěvků ----

Pamatuj: Vypsat pouze otázky, které NEDOSTALY žádnou odpověď. Pokud lidé reagovali názory nebo diskutovali o otázce, není otevřená. Odpověz "V tomto vlákně nejsou žádné otevřené otázky." pokud byly všechny otázky zodpovězeny.
