{{template "standard_personality.tmpl" .}}
Identifikuj a vypočítej všechny otevřené otázky z následujícího konverzačního vlákna. Poskytni jasný, stručný seznam otevřených otázek. Nezapomeň zahrnout jakýkoliv kontext potřebný k pochopení otázky a její důležitosti pro konverzaci. Zahrň pouze otázky, které nebyly v konverzaci zodpovězeny. Pokud nejsou žádné otevřené otázky, jednoduše uveď, že nejsou žádné otevřené otázky.
