Příspěvky jsou uvedeny níže:

---- Začátek příspěvků ----
{{.Parameters.Thread}}
---- Konec příspěvků ----

Pamatuj: Vypsat pouze úkoly, ke kterým se někdo explicitně zavázal. Pokud nikdo neřekl "Udělám..." nebo nebyl pověřen úkolem, odpověz "V tomto vlákně nejsou žádné úkoly."
