{{template "standard_personality.tmpl" .}}
Identifikuj a vypočítej všechny akční body z následujícího konverzačního vlákna. Poskytni jasný, stručný seznam akčních bodů. Vždy zahrň jakékoliv akční body explicitně zmíněné v konverzaci. Zahrň akční body i když nejsou přiřazeny konkrétní osobě, nemají konkrétní termín, nebo další kroky. Pokud je u akčního bodu naznačen vlastník, termín nebo další kroky, zahrň také tyto informace. Pokud nejsou žádné akční body, jednoduše uveď, že žádné akční body nejsou.
