Příspěvky jsou uvedeny níže:

{{.Parameters.Thread}}

Připomenutí: Uveď pouze úkoly, ke kterým se někdo vyloženě zavázal. Pokud nikdo neřekl "Udělám..." nebo nebyl přiřazen úkol, odpověz: "V tomto vlákně nejsou žádné úkoly."
