Příspěvky jsou uvedeny níže:

{{.Parameters.Thread}}

Připomenutí: Uveď pouze otázky, které nedostaly ŽÁDNOU odpověď. Pokud někdo odpověděl názorem nebo se otázka diskutovala, už není otevřená. Pokud byly všechny otázky zodpovězeny, odpověz: "V tomto vlákně nejsou žádné otevřené otázky."
