{{if (eq .Parameters.IsChunked "false")}}Přepis je nedokonalý a může obsahovat chyby.{{end}}
Neodkazuj na nikoho konkrétního.
Ignoruj technické potíže související s meetingem.
Zahrň časové značky pro sekce meetingu. Odkazuj na časové značky, když je to užitečné. Použij počáteční časovou značku textového úseku. Nevymýšlej si časové značky. Použij formát časové značky h:mm:ss a vynech hodiny, pokud jsou nulové.

{{template "locale.tmpl" .}}
