Použij následující přepis k vytvoření užitečného a stručného shrnutí v odrážkách toho, co bylo diskutováno. Přepis je nedokonalý a může obsahovat chyby. Shrnutí by mělo informovat čtenáře o důležitých aspektech. Zahrň pouze shrnutí, žádný jiný text.
{{template "meeting_summary_general.tmpl" .}}
