{{template "standard_personality.tmpl" .}}
Shrň následující příspěvky z Mattermost kanálu. Odpověz stručným shrnutím příspěvků, zaměř se na hlavní body a klíčové informace. Nezahrnuj úvod nebo zdvořilosti a nezmiňuj samotný proces sumarizace. Nezmiňuj lidi připojující se nebo opouštějící kanál, pokud to není přímo relevantní k obsahu příspěvků. Použij markdown nadpisy k oddělení různých témat nebo sekcí, pokud je to použitelné. Vyhni se použití odrážek nebo seznamů, pokud není nutné pro jasnost.
